<!-- used to recursively build tree -->
<script type="text/ng-template" id="tree-renderer.html">
  <span ng-click="term.show = !term.show"
        ng-class="term.show ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right';"
        ng-show="hasChildren(term)"
        aria-hidden="true"
        accordion close-others="true"></span> 
  <span class="glyphicon glyphicon-minus"
        ng-hide="hasChildren(term)"
        aria-hidden="true"
        accordion close-others="true"></span> 
  <span ng-click="display_detail(term)" >{{term.label}}</span>
  <ul ng-show="term.show" ng-init="showChildren(term)">
    <li ng-repeat="term in term.children" ng-include="'tree-renderer.html'"></li>
  </ul>
</script>
<!-- main container for page -->
<div class="container">
  <div id="retrievalTermsContainer">
    <div class=" panel panel-primary">
      <div class="panel-body">
        <div class='row' ng-hide='searchHidden'>
          <div class='col-xs-9' >
            <h4>Disease Transmission Models Search</h4>
              <table class="table table-striped table-bordered">
               <tr >
                  <td>Pathogen</td>
                  <td>
                    <select type='text' class='form-control' ng-model='pathogen' ng-init="pathogen='Any'">
                      <option ng-repeat="n in pathogens track by $index">{{n}}</option>
                    </select>
                  </td>
                  <td>Host</td>
                  <td>
                    <select type='text' class='form-control' ng-model='host' ng-init="host='Any'">
                      <option ng-repeat="n in hosts track by $index">{{n}}</option>
                    </select>
                  </td>
                  <td>Location</td>
                  <td>
                    <select type='text' class='form-control' ng-model='location' ng-init="location='Any'">
                      <option ng-repeat="n in locations track by $index">{{n}}</option>
                    </select>
                  </td>
                </tr>
              </table>
               <button type='submit' ng-click="initiateSearch()" class="btn btn-primary pull-right" >Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  <div class="panel panel-primary" id="resultsPanel">
    <div class="panel-heading clearfix">Results
      <div class="pull-right">
      </div>
    </div>
    <table id='resultTable' datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" dt-columns="dtColumns">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in tableModel" ng-click="getItemDetails(item)">
          <td>{{item.title}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
